<div class="header">
    <div class="logo">
        <a href="/index"><img class="small" src="imags/login.png" alt="">梧院问答

        </a>
    </div>
    <div class="nav-input layui-input-inline">
        <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
               class="layui-input">


    </div>
    <div class="input-button"><a href="" class="layui-btn">搜索</a></div>
    <div class="nav-headerbox ">
        <button class="layui-btn ff"><a href="">首页</a></button>
        <button class="layui-btn ff"><a href="">关注</a></button>
        <button class="layui-btn ff"><a href="">消息</a></button>
    </div>
</div>