<html>

<head>
    <#include "common/head.html">
</head>


<body>
<div class="container">

    <#include "common/header.html">

    <div class="layui-row padding-top10">
        <div class="layui-col-md8 layui-col-md-offset3">
            <div class="layui-row">

                <div class="content layui-col-md8 Card">
                    <div class="layui-tab layui-tab-brief" lay-filter="demo">
                        <ul class="layui-tab-title">
                            <li class="layui-this" lay-id="11">热门问题</li>
                            <li lay-id="22">我的关注</li>
                            <li lay-id="33">最新问题</li>
                            <li lay-id="44">等待回答</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">

                                <#list vos as vo>
                                <div class="question-summary">
                                    <div class="cp">
                                        <div class="answered">
                                            <div class="mini-counts"><span>${vo.question.commentCount}</span></div>
                                            <div>回答</div>
                                        </div>
                                        <div class="answered">
                                            <div class="mini-counts"><span>${vo.lookCount}</span></div>
                                            <div>浏览数</div>
                                        </div>
                                    </div>
                                    <div class="summary">
                                        <h3><a href="">${vo.question.title}</a></h3>
                                        <#list vo.tagNameList as tagName>
                                        <div class="tags">
                                            <a href="" class="post-tag">${tagName}</a>
                                        </div>
                                        </#list>
                                        <div class="started"><span>${(vo.question.createTime)?string('yyyy.MM.dd')}</span></div>
                                    </div>
                                    <hr>
                                </div>
                            </#list>


                            </div>
                            <div class="layui-tab-item">

                            </div>
                            <div class="layui-tab-item">内容3</div>
                            <div class="layui-tab-item">内容4</div>

                        </div>

                    </div>




                </div>
                <!-- <div class="content">
                <div class="Card">
                    <h3><a href="">TITLE?</a></h3>
                    <div class="person">
                    </div>
                    <div class="article"></div>
                    <div class="ask-botton"></div>
                </div>
            </div> -->
        <#if isLogin>
                <div class="people layui-col-md3 Card">

                    <div class="Card-header">
                        <div class=" Card-headerText">关于我</div>
                    </div>
                    <div class="Card-section">
                        <div class="user-avatar"><span class="UserLink"><a href=""><img width="60" height="60" src="https://pic4.zhimg.com/v2-cd1414a3b78aff3604711de698883e3b_im.jpg"
                                                                                        alt=""></a></span></div>
                        <div class="user-content">
                            <div class="user-name"><span class="UserLink"><a href="">${hostUser.userName}</a></span></div>
                        </div>
                        <div class="user-headline">
                            <div class="RichText ztext">${hostUser.introduction}</div>
                        </div>
                    </div>
                    <div class="Card-section clear_bolder">
                        <div class="counts">
                            <a href="">
                                <div class="NumberBoard-itemInner">
                                    <div class=".NumberBoard-itemName">回答</div>
                                    <strong class=".NumberBoard-itemValue">${hostUser.commentCount}</strong>
                                </div>
                            </a>
                            <a href="">
                                <div class="NumberBoard-itemInner">
                                    <div class=".NumberBoard-itemName">收藏</div>
                                    <strong class=".NumberBoard-itemValue">${hostUser.collectionCount}</strong>
                                </div>
                            </a>
                            <a href="">
                                <div class="NumberBoard-itemInner">
                                    <div class=".NumberBoard-itemName">关注者</div>
                                    <strong class=".NumberBoard-itemValue">${hostUser.followerCount}</strong>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="MemberButtonGroup">
                        <button class="layui-btn layui-btn-normal" onclick="addQuestion()" id="add">我要提问</button>
                        <button class="layui-btn layui-btn-normal">我要回答</button>
                    </div>
                </div>

    <#else>
        <div class="login layui-col-md3 Card">

            <div class="Card-header">
                <div class=" Card-headerText">请登录</div>
            </div>

            <div class="MemberButtonGroup">
                <div class="MemberButtonGroup">
                    <form action="to_login">
                        <button class="layui-btn layui-btn-normal layui-btn-lg">登录</button>
                        <button class="layui-btn layui-btn-normal layui-btn-lg">注册</button>
                    </form>
                </div>
            </div>
        </div>
    </#if>

            </div>
        </div>
    </div>
</div>

<!-- 弹出层 -->
<div class="addQuestion layui-form" id="addQuestion">
    <div class="layui-form-item">
        <label class="layui-form-label">输入标题</label>
        <div class="layui-input-block w400"  >
            <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">具体描述</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>


    <div class="layui-form-item w400">
        <label class="layui-form-label">问题标签</label>
        <div class="layui-input-block">
            <select name="interest" lay-filter="aihao" lay-search>
                <option value="">常用标签</option>
                <option value="0">校园生活</option>
                <option value="1">学习</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否匿名</label>
        <div class="layui-input-block">
            <input type="checkbox" name="zzz" lay-skin="switch" lay-text="匿名|不匿名">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即发布</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</div>


<#include "common/footer.html">
</body>

</html>